<div class="container">
  <h1>注文履歴詳細</h1>
  
  <div class="row">
    <div class="col-md-9">
      <table class="table">
        <tr>
          <th>購入者</th>
          <th>注文日</th>
          <th>配送先</th>
          <th>支払方法</th>
          <th>注文ステータス</th>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>製造ステータス</th>
        </tr>
      </table>
    </div>
    
    <div class="col-md-3">
      <table class="table">
        <tr>
          <th>商品合計</th>
          <th>送料</th>
          <th>請求金額合計</th>
        </tr>
      </table>
    </div>
  </div>
</div>