<main>
  <div class="first-page">
      <p>ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>

  </div>

<div class="new-item-list">
  <span class="page-title">新着情報</span>
<table class="new-item-table">
  <tbody>
    <tr>
      <td>
      </td>
    </tr>
  </tbody>
</table>
</div>
</main>

