<main>
  <span class="page-title">注文情報確認<span>
    <%= form_with model: @order local: true do |f| %>
    <table class="comfirm-table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>

      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <% end %>
    </table>

    <table class="price-table" >
      <tbody>
        <tr>
          <td>送料</td>
          <td>800</td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <%- f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>
</main>

