<div class="container">
  <div class="row">
    <div class="col-sm-12 px-sm-0">
      <h4>商品一覧</h4>
    </div>
  </div>

  <div class="row mt-3 mb-3 text-xs-center">
    <% @items.each do |item| %>
    <div class="mx-auto">
      <%= link_to public_item_path(item.id) do %>
      <%= attachment_image_tag item, :image, size: "150x100" %>
      <% end %>
      <p><%= item.name %></p>
      <p>¥<%= item.price %></p>
    </div>
    <% end %>
  </div>
</div>


